abstract==2022.7.10
autobahn==23.1.2
base32hex==1.0.2
bcrypt==4.0.1
beautifulsoup4==4.12.2
bidict==0.22.1
bs4==0.0.1
certifi==2022.12.7
cffi==1.15.1
charset-normalizer==3.1.0
chronometry==2020.11.12
click==8.1.3
colorama==0.4.6
colouration==2020.7.26
common==0.1.2
contourpy==1.0.7
cryptography==40.0.1
cycler==0.11.0
dill==0.3.6
disk==2021.6.29
dnspython==2.3.0
eventlet==0.33.3
Flask==2.2.2
Flask-SocketIO==5.3.3
fonttools==4.39.3
func-timeout==4.3.5
fuzzywuzzy==0.18.0
geographiclib==2.0
geopy==2.3.0
gevent==22.10.2
gevent-websocket==0.10.1
graphviz==0.20.1
greenlet==2.0.2
hyperlink==21.0.0
idna==3.4
internet==2022.4.20.3
isodate==0.6.1
itsdangerous==2.1.2
Jinja2==3.1.2
joblib==1.2.0
kiwisolver==1.4.4
linecache2==1.0.0
login==0.0.6
lxml==4.9.2
MarkupSafe==2.1.2
matplotlib==3.7.1
mock==5.0.1
numpy==1.24.2
packaging==23.0
pandas==2.0.0
pensieve==2022.4.20.1
Pillow==9.5.0
pipdeptree==2.7.1
plotly==5.14.0
py4j==0.10.9.5
pycparser==2.21
pyparsing==3.0.9
pyspark==3.3.2
python-dateutil==2.8.2
python-engineio==4.4.0
python-socketio==5.8.0
python-utils==3.5.2
pytz==2023.3
ravenclaw==2020.11.12
rdflib==6.3.2
reactor==0.1.4
requests==2.28.2
route==0.1.4
Send2Trash==1.8.0
six==1.16.0
sklearn==0.0.post1
slytherin==2020.11.12
soupsieve==2.4
soupspoon==2022.4.20
SPARQLWrapper==2.0.0
SQLAlchemy==2.0.1
tenacity==8.2.2
toposort==1.10
traceback2==1.4.0
txaio==23.1.1
txt==2020.11.12
typing_extensions==4.4.0
tzdata==2023.3
unittest2==1.1.0
urllib3==1.26.15
websocket==0.2.1
Werkzeug==2.2.2
zope.event==4.6
zope.interface==6.0
