<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<title>Huerto Libre</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='cliente.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/minty/bootstrap.min.css" integrity="sha384-H4X+4tKc7b8s4GoMrylmy2ssQYpDHoqzPa9aKXbDwPoPUA3Ra8PA5dGzijN+ePnH" crossorigin="anonymous"></head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.main.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <nav class="navbar navbar-expand-lg bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Bienvenido!</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/nuevoPedido/{{usuario.idUser}}">NUEVO PEDIDO</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/pedidosUsuario/{{usuario.idUser}}">MIS PEDIDOS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/chats/{{usuario.idUser}}/0">CHAT</a>
            </li>
          </ul>
            <div class="d-flex">
                <a class="nav-link active" onclick="window.modal2.showModal();">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-right" viewBox="0 0 16 16">
                      <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"></path>
                      <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"></path>
                    </svg>
                </a>
            </div>
        </div>
      </div>
    </nav>
    <dialog id="modal2">
       <h2>Seguro que quieres cerrar la sesion?</h2>
       <a onclick="window.modal1.close();" class="btn btn-primary" href="/">Cerrar Sesion</a>
       <button onclick="window.modal2.close();" class="btn btn-primary">Cancelar</button>
    </dialog>
	<div style="width: 70%; float: left;">
    <div class="container">
        <div class="row">
        {% if listaProductos|length == 0:%}
            <div class="card text-center">
              <div class="card-header">
                No hay productos disponibles!
              </div>
              <div class="card-body">
                <p class="card-text">Ahora mismo no disponemos de productos que ofrecerte, porfabor intentalo un poco mas tarde!</p>
              </div>
            </div>
        {% else: %}
            {% for producto in listaProductos: %}
            <div class="col">
                <div class="my-1">
                    <form action="/anadirCarrito/{{usuario.idUser}}" method="post">
                        <div class="card" style="width: 18rem;">
                          <div class="card-body" >
                              <input type="text" style="font-weight: bold; font-size: 2em;" class="form-control"
                                     name="nombreProducto" placeholder="{{ producto[1] }}" value="{{ producto[1] }}" readonly>
                              <p class="card-text" id="descripcionProducto">{{producto[2]}}</p>
                              <div class="input-group">
                                  <input class="form-control" type="number" name="precioProducto" placeholder="{{ producto[3] }}" value="{{ producto[3] }}" readonly>
                                  <span class="input-group-text">€</span>
                              </div>
                              <label>Cantidad</label>
                              <input name="kilos"  id="cantidadAElejir" type="number" required>
                            <button type="submit" id="btnAnadir" class="btn btn-warning btn-block my-2">Añadir</button>
                          </div>
                        </div>
                    </form>
                </div>
            </div>
                <script>
                    const cantidadAElejirInput = document.getElementById('cantidadAElejir');
                    const btnAñadir = document.getElementById('btnAnadir');
                    const productoCantidadMaxima = {{ producto[5] }};

                    cantidadAElejirInput.addEventListener('input', function () {
                        if (parseFloat(cantidadAElejirInput.value) > productoCantidadMaxima) {
                            btnAnadir.disabled = true;
                            showAlert(`Solo quedan ${productoCantidadMaxima} kilos de {{ producto[1]}}.`);
                        } else {
                            btnAnadir.disabled = false;
                            hideAlert();
                        }
                    });

                    function showAlert(message) {
                        const alertDiv = document.createElement('div');
                        alertDiv.classList.add('alert', 'alert-danger');
                        alertDiv.textContent = message;
                        document.body.appendChild(alertDiv);
                    }

                    function hideAlert() {
                        const alertDiv = document.querySelector('.alert');
                        if (alertDiv) {
                            alertDiv.remove();
                        }
                    }
                </script>
            {% endfor %}
        {% endif %}
        </div>
    </div>
	</div>
	<div style="width: 30%; float: left;" >
        <div class="position-fixed">
            <div class="card" style="width: 300px;">
                <ul class="justify-content-end">
                {% for producto in productosCarrito: %}
                    <li class="">
                        <span><strong>{{ producto[0] }}:</strong> {{producto[1]}}€ x {{producto[2]}} </span>
                        <a type="button" href="/eliminarProductoCarrito/{{usuario.idUser}}/{{producto[0]}}" style="text-decoration:none" class="btn btn-outline-danger btn-sm btn-custom">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                          <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/>
                        </svg>
                        </a>
                    </li>
                {% endfor %}
                <div class="d-grid gap-2 col-6 mx-auto" style="margin-top: 20px;">
                    <p>TOTAL:: {{ totalFinal }}€</p>
                    <a href="/pedido/{{usuario.idUser}}/{{totalFinal}}" class="btn btn-warning btn-block" method="post">Comprar</a>
                </div>
                </ul>
            </div>
        </div>
	</div>
</body>
</html>