<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <title>Huerto Libre</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='cliente.css') }}">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/minty/bootstrap.min.css" integrity="sha384-H4X+4tKc7b8s4GoMrylmy2ssQYpDHoqzPa9aKXbDwPoPUA3Ra8PA5dGzijN+ePnH" crossorigin="anonymous"></head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.main.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <nav class="navbar navbar-expand-lg bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Bienvenido!</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/redirigirProducto/{{usuario.idUser}}">NUEVO PRODUCTO</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/stock/{{usuario.idUser}}">AÑADIR STOCK
                <span class="{% if not mBadge %}badge text-bg-danger{% endif %}">{% if not mBadge %}!{% endif %}</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/chats/{{usuario.idUser}}/2">CHAT</a>
            </li>
          </ul>
            <div class="d-flex">
                <a class="nav-link active" onclick="window.modal1.showModal();" >
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-right" viewBox="0 0 16 16">
                      <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"></path>
                      <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"></path>
                    </svg>
                </a>
            </div>
        </div>
      </div>
    </nav>
        <dialog id="modal1">
                <h2>Seguro que quieres cerrar la sesion?</h2>
                <a onclick="window.modal1.close();" class="btn btn-primary" href="/">Cerrar Sesion</a>
                <button onclick="window.modal1.close();" class="btn btn-primary">Cancelar</button>
        </dialog>
    <div style="display: flex; justify-content: center; align-items: top; height: 100vh; margin-top: 50px">
          <div style="text-align: center;">
            <h1 class="h3 mb-3 fw-normal">AÑADIR NUEVO PRODUCTO:</h1>
            <div class="card">
              <div class="card-body">
                <form action="/nuevoProducto/{{usuario.idUser}}" method="post" >
                        <div style="display: flex; flex-direction: column; align-items: flex-end;">
                            <div style="margin-bottom: 10px; font-weight: bold;">
                                <label for="productName">Nombre</label>
                                <input type="text" id="productName" name="nombreProducto" required>
                            </div>
                            <div style="margin-bottom: 10px; font-weight: bold;">
                                <label for="productDesc">Descripcion</label>
                                <input type="text" id="productDesc" name="descripcionProducto" required>
                            </div>
                            <div style="margin-bottom: 10px; font-weight: bold;">
                                <label for="productPrice">Precio</label>
                                <input type="number" id="productPrice" name="precioProducto" required>
                            </div>
                            <div style="margin-bottom: 10px; font-weight: bold;">
                                <label for="productStock">Stock</label>
                                <input type="number" id="productStock" name="stockProducto" required>
                            </div>
                        </div>
                        <div style="margin-top: 10px">
                             <input class="btn btn-block" type="submit" value="Crear Producto" style="background-color: #C7CC72; color: white; border: none; padding: 10px;">
                        </div>
                </form>
              </div>
            </div>
          </div>
    </div>
</body>
</html>