<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Huerto Libre</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='cliente.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/minty/bootstrap.min.css" integrity="sha384-H4X+4tKc7b8s4GoMrylmy2ssQYpDHoqzPa9aKXbDwPoPUA3Ra8PA5dGzijN+ePnH" crossorigin="anonymous"><body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
    <nav class="navbar navbar-expand-lg bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Bienvenido!</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/todos/2">TODOS LOS PRODUCTOS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/todos/1">TODOS LOS USUARIOS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/todos/3">TODOS LOS PEDIDOSS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/todos/4">CHAT</a>
            </li>
          </ul>
            <a class="nav-link active" onclick="window.modal1.showModal();" >
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-right" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"></path>
                  <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"></path>
                </svg>
            </a>
        </div>
      </div>
    </nav>
        <dialog id="modal1">
           <h2>Seguro que quieres cerrar la sesion?</h2>
           <a onclick="window.modal1.close();" class="btn btn-primary" href="/">Cerrar Sesion</a>
           <button onclick="window.modal1.close();" class="btn btn-primary">Cancelar</button>
        </dialog>
    <div style="display: flex; justify-content: center; align-items: top; height: 100%; margin-top: 50px">
        <div class="card text-bg-warning" style="width: 40rem;">
            <h2 style="display: flex; justify-content: center">Alguien necesita ayuda!</h2>
            <ul id="messages"></ul>
            <input type="text" id="myMessage">
            <button type="button" id="send">Enviar</button>
        </div>
        <!-- jquery -->
        <script src="https://code.jquery.com/jquery-3.6.4.min.js"
                integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8="
                crossorigin="anonymous">
        </script>
         <!-- socketIO -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.6.1/socket.io.js"
                integrity="sha512-xbQU0+iHqhVt7VIXi6vBJKPh3IQBF5B84sSHdjKiSccyX/1ZI7Vnkt2/8y8uruj63/DVmCxfUNohPNruthTEQA=="
                crossorigin="anonymous" referrerpolicy="no-referrer" charset="utf-8">
        </script>
        <div id="socketio-data" data-socketid="{{ socketid }}"></div>
        <script>
            const socket = io();

            socket.on('connect', () => {
                const socketid = document.getElementById('socketio-data').dataset.socketid;
                const idUsuario = socketid;
                socket.emit('join_room', {idUsuario: idUsuario});
            });

            $('#send').on('click', function () {
                const mensaje = $('#myMessage').val();
                const idUsuario = document.getElementById('socketio-data').dataset.socketid;
                socket.emit('mensajePrivado', { idUsuario: idUsuario, mensaje: mensaje });
                $('#myMessage').val('');
            });

            socket.on('mensajePrivado', function (data) {
                const idUsuario = parseInt(data.idUsuario);
                const socketid = parseInt(document.getElementById('socketio-data').dataset.socketid);

                const mensajeClass = idUsuario === socketid ? 'mensaje-propio' : 'mensaje-otro';
                const mensajeHTML = '<li class="' + mensajeClass + '">' + '-' + data.mensaje + '</li>';
                $('#messages').append(mensajeHTML);
            });
        </script>
    </div>
</body>
</html>