<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Huerto Libre</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='cliente.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/minty/bootstrap.min.css" integrity="sha384-H4X+4tKc7b8s4GoMrylmy2ssQYpDHoqzPa9aKXbDwPoPUA3Ra8PA5dGzijN+ePnH" crossorigin="anonymous">    <!---- plotly -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://d14fo0winaifog.cloudfront.net/plotly-basic.js"></script>
    <script type="text/javascript" src="dist/plotly.js"></script>
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
    <nav class="navbar navbar-expand-lg bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Bienvenido!</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/redirigirProducto/{{usuario.idUser}}">NUEVO PRODUCTO</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/stock/{{usuario.idUser}}">AÑADIR STOCK
                <span class="{% if not mBadge %}badge text-bg-danger{% endif %}">{% if not mBadge %}!{% endif %}</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/chats/{{usuario.idUser}}/2">CHAT</a>
            </li>
          </ul>
            <a class="nav-link active" onclick="window.modal10.showModal();" >
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-right" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"></path>
                  <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"></path>
                </svg>
            </a>
        </div>
      </div>
    </nav>
    {% if not mBadge: %}
    <div class="alert alert-danger" role="alert">Hay productos con poco Stock!</div>
    {% endif %}
        <dialog id="modal10">
           <h2>Seguro que quieres cerrar la sesion?</h2>
           <a onclick="window.modal10.close();" class="btn btn-primary" href="/">Cerrar Sesion</a>
           <button onclick="window.modal10.close();" class="btn btn-primary">Cancelar</button>
        </dialog>
    <script>
        function mostrarValor(boton) {
          var valor = boton.value;
          document.getElementById("valorBtn").innerHTML = valor;
        }
        function mostrarValor(boton) {
          var valor = boton.value;
          document.getElementById("valorBtn").innerHTML = valor;
          document.getElementById("productoInput").value = valor;
        }
    </script>
    <form action="/anadirStock/{{usuario.idUser}}" method="post">
        <input type="hidden" name="producto" id="productoInput">
        <dialog id="modal1">
            <h2 id="valorBtn"></h2>
            <p>Cuantos kilos quieres añadir?</p>
            <input class="form-control" type="number" name="cantidadProducto">
            <button type="submit" class="btn btn-warning btn-block">Añadir</button>
            <button class="btn btn-danger" onclick="window.modal1.close();">Cerrar</button>
        </dialog>
    </form>
    <div class="container">
        <div class="row">
            {% if listaStock|length == 0:%}
            <div class="col-6">
                <div class="my-1">
                    <div class="card">
                      <div class="card-header">
                        No hay productos?
                      </div>
                      <div class="card-body">
                        <h5 class="card-title">Empieza a añadir y vender tu mercancia!</h5>
                        <p class="card-text">Ahora mismo no estas compartiendo con los clientes los productos de tu granja!<!--
                         --> No esperes mas, presiona el boton de abajo y comienza a ganar dinero mientras acercas productos locales a todos!</p>
                        <a href="/redirigirProducto/{{usuario.idUser}}" class="btn btn-primary">Añadir tu primer producto!</a>
                      </div>
                    </div>
                </div>
            </div>
            {% else %}
            {% for producto in listaStock: %}
            <div class="col-6">
                <div class="my-1">
                    <div class="{% if producto[5] < 11 %}card text-bg-danger{% else %}card{% endif %}" style="width: 35rem;">
                        <div class="card-body">
                            <h5 class="card-title"> {{ producto[1] }}</h5>
                            <p class="card-text"> {{ producto[2] }}</p>
                            <p class="card-text"> Stock disponible: {{producto[4]}} KG</p>
                            <button class="btn btn-warning" onclick="window.modal1.showModal();mostrarValor(this);" id="modalStock" value="{{ producto[1] }}">Añadir stock</button>
                        </div>
                        <div>
                            <iframe src="{{ url_for('create_bar_chart', product=producto[1]) }}" width="500" height="300" frameborder="1"></iframe>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% endif %}
        </div>
    </div>
</body>
</html>