<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Huerto Libre</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='cliente.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/minty/bootstrap.min.css" integrity="sha384-H4X+4tKc7b8s4GoMrylmy2ssQYpDHoqzPa9aKXbDwPoPUA3Ra8PA5dGzijN+ePnH" crossorigin="anonymous"></head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
    <nav class="navbar navbar-expand-lg bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Bienvenido!</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/todos/2">TODOS LOS PRODUCTOS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/todos/1">TODOS LOS USUARIOS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/todos/3">TODOS LOS PEDIDOSS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/todos/4">CHAT</a>
            </li>
          </ul>
            <a class="nav-link active" onclick="window.modal1.showModal();" >
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-right" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"></path>
                  <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"></path>
                </svg>
            </a>
        </div>
      </div>
    </nav>
    <dialog id="modal1">
       <h2>Seguro que quieres cerrar la sesion?</h2>
       <a onclick="window.modal1.close();" class="btn btn-primary" href="/">Cerrar Sesion</a>
       <button onclick="window.modal1.close();" class="btn btn-primary">Cancelar</button>
    </dialog>
    <main class="form-signin w-100 m-auto">
        <div class="container d-flex justify-content-center">
            <div class="row">
                {% for item in full %}
                <div class="card" style="width:18rem;">
                    <div class="card-body">
                        <ul class="list-group">
                            {% for persona in todosUsers %}
                                {% if persona[0] == item[0][3] %}
                                    <p><strong>Pedido hecho por:</strong> {{persona[3]}}</p>
                                    <p><strong>ID Usuario:</strong> {{persona[0]}}</p>
                                {% endif %}
                            {% endfor %}
                            <p><strong>Fecha de pedido:</strong> {{item[0][4]}}</p>
                            {% for obje in item: %}
                            <li class="list-group-item" style="background: #C7CC72">{{obje[1]}} x {{obje[2]}}</li>
                            {% endfor %}
                        </ul>
                        <div class="text-center mt-3">
                            <a type="button" href="/eliminar/{{item[0][4]}}/3" class="btn btn-danger btn-sm" style="margin: 0 10px;">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                                  <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </main>
    <style>
      .container {
        margin-top: 50px;
      }
      .card {
        margin: 0 10px;
        margin-top: 20px;
      }
    </style>
</body>
</html>